
    h2 {
        margin-top: 25px;
        margin-bottom: 25px;
        text-align: center;
    }

    h3 {
        margin-top: 25px;
        margin-bottom: 25px;
        text-align: center;
    }

.button-row {
    text-align: center;
}

.mat-panel-description {
    justify-content: left;
}

.row {
    margin-top: 2rem;
}

.about {
    margin-left: 1rem;
}

span {
    border-bottom: solid 6px rgba(36, 199, 220, 0.589);
}