  <div class="container">
    <h2>Hello and welcome!</h2>
      <p>There are lots of reasons to choose one stack over another depending on the project. The goal was to build a game that I would play with pleasure, being satisfied with its appearance and operation. The side effect was a challenge sent to friends who were eagerly competing with each other for the best result.</p>

    <h3>My stack for this project:</h3>
      <p>I was looking ahead at the future of my project so I have chosen Angular to learn how to build an app with the reasonable need of vertical scalability. Game mechanism and model of blocks' behaviour was built from zero in Pixi.js creation engine.</p>

        <mat-chip-list class="mat-chip-list-wrapper" selectable="false">
          <mat-chip class="css">CSS3</mat-chip>
          <mat-chip class="html">HTML5</mat-chip>
        
          <mat-chip class="js">JavaScript</mat-chip>
          <mat-chip class="ts">TypeScript</mat-chip>
        
          <mat-chip class="sass">Sass</mat-chip>
          <mat-chip class="angular">Angular</mat-chip>
          <mat-chip class="pixi">Pixi.js</mat-chip>
          <mat-chip class="firebase">Firebase</mat-chip>
        </mat-chip-list>

    <h3>About me:</h3>
      <p>I am a frontend developer whose goal is to build modern and scalable web applications. I constantly develop and understand the technologies which I work with. I am aware of the power and possibilities of today's work in the frontend part of development. I always remember that: <span>"To stand still is to move backwards."</span>

    <h4>Contact me & check my projects:</h4>
      <div class="button-row">
        <a mat-raised-button class="linkedin" href="http://www.linkedin.com/jsmikus">Linkedin</a>
        <a mat-raised-button class="github" href="http://www.github.com/jsmikus">Github</a>
      </div>
      <p>Enjoy the game and... try to beat the best score! :)</p>
</div>
  



