.container {
    width: 35%;
    margin: 0 auto;
    text-align: center;
}

.mat-toolbar {
    background: #24C6DC; 
    background: -webkit-linear-gradient(to right, #514A9D, #24C6DC);  
    background: linear-gradient(to right, #514A9D, #24C6DC);
    justify-content: center;
}

.title {
    color: white;
}
